@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  @keyframes drift {
    0% {
      transform: translate(-60vw, 0vh);
    }

    15% {
      transform: translate(-20vw, -30vh);
    }

    30% {
      transform: translate(10vw, -10vh);
    }

    45% {
      transform: translate(30vw, 20vh);
    }

    60% {
      transform: translate(60vw, -40vh);
    }

    75% {
      transform: translate(20vw, 40vh);
    }

    90% {
      transform: translate(-30vw, 50vh);
    }

    100% {
      transform: translate(-60vw, 0vh);
    }
  }


  @keyframes morph {
    0% {
      border-radius: 42% 58% 54% 46% / 48% 52% 55% 45%;
    }

    15% {
      border-radius: 60% 40% 38% 62% / 70% 30% 50% 50%;
    }

    30% {
      border-radius: 50% 50% 60% 40% / 40% 60% 65% 35%;
    }

    45% {
      border-radius: 55% 45% 35% 65% / 50% 50% 45% 55%;
    }

    60% {
      border-radius: 48% 52% 60% 40% / 65% 35% 30% 70%;
    }

    75% {
      border-radius: 70% 30% 50% 50% / 60% 40% 35% 65%;
    }

    90% {
      border-radius: 35% 65% 55% 45% / 45% 55% 60% 40%;
    }

    100% {
      border-radius: 42% 58% 54% 46% / 48% 52% 55% 45%;
    }
  }



  @keyframes pulse-scale {

    0%,
    100% {
      transform: scale(1);
    }

    15% {
      transform: scale(1.1);
    }

    30% {
      transform: scale(0.92);
    }

    45% {
      transform: scale(1.04);
    }

    60% {
      transform: scale(0.75s);
    }

    75% {
      transform: scale(1.05);
    }

    90% {
      transform: scale(0.92);
    }
  }

  @keyframes driftSmall {
    0% {
      transform: translateX(-100%) translateY(0);
    }

    25% {
      transform: translateX(-50%) translateY(-10vh);
    }

    50% {
      transform: translateX(0%) translateY(5vh);
    }

    75% {
      transform: translateX(50%) translateY(-5vh);
    }

    100% {
      transform: translateX(100%) translateY(0);
    }

    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes drift-horizontal {
    0% {
      transform: translateX(-100%);
    }

    50% {
      transform: translateX(500%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes colorPulse {
    0% {
      background: #064e3b;
      /* verde escuro */
    }

    33% {
      background: #1e3a8a;
      /* azul escuro */
    }

    66% {
      background: #4c1d95;
      /* roxo escuro */
    }

    100% {
      background: #064e3b;
    }
  }

  @keyframes pulse-slow {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }
  }




  @layer utilities {
    .animate-pulse-slow {
      animation: pulse-slow 6s ease-in-out infinite;
    }

    .glow-circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 280px;
      height: 280px;
      border-radius: 9999px;
      opacity: 0.5;
      z-index: 0;
      animation: colorPulse 12s ease-in-out infinite,
        morph 3s ease-in-out infinite;
    }

    .animate-drift-horizontal {
      animation: drift-horizontal 30s linear infinite;
    }

    .animate-pulse-scale {
      animation: pulse-scale 60s ease-in-out infinite
    }

    .gradient-background {
      background: linear-gradient(270deg,
          #4f46e5 0%,
          #3730a3 20%,
          #312e81 40%,
          #2563eb 60%,
          #1e40af 80%,
          #4f46e5 100%);
      background-size: 600% 600%;
      background-position: center;
      animation: gradientShift 60s ease-in-out infinite,
        morph 60s ease-in-out infinite,
        drift 120s ease-in-out infinite;
    }

    .gradient-background-vivid {
      background: linear-gradient(270deg,
          #000000,
          #f43f5e,
          #fb7185,
          #f97316,
          #4ade80,
          #22d3ee,
          #8b5cf6,
          #f43f5e,
          #000000);
      background-size: 1000% 1000%;
      background-position: 0% 50%;
      animation: gradientShift 120s ease-in-out infinite;
    }

    .animate-drift-small {
      animation: driftSmall 60s ease-in-out infinite;
    }

  }



}

body {
  background-color: #0f172a;
  /* mesmo bg do body */
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #383b43;
  /* emerald */
}

body::-webkit-scrollbar-track {
  background-color: #0f172a;
  /* mesmo bg do body */
}